*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  outline: 1px solid lime;
}

:root {
  --ff-primary: "Space Grotesk", sans-serif;

  --fw-reg: 300;
  --fw-bold: 700;

  --clr-dark: #151515;
  --clr-dark-light: #5f5f5f;
  --clr-complementary: #2c9d6e;
  --clr-light: #f2f3f4;
  --clr-light-dark: #d9d9d9;
  --clr-accent: #9d2c76;
  --clr-error: #ef4444;
  --clr-valid: #19c419;

  --fs-h1: 2.5rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.5rem;
  --fs-small: 0.75rem;
  --fs-body: 1rem;
  --fs-medium: 1.3rem;
}

@media (min-width: 600px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-small: 0.75rem;
    --fs-body: 1.125rem;
    --fs-medium: 1.5rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-small: 0.75rem;
    --fs-body: 1.125rem;
    --fs-medium: 1.7rem;
  }
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.1;
  margin: 0;
}

img {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}
