*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  /* outline: 1px solid lime; */
}

:root {
  --ff-primary: "Inter", sans-serif;

  --fw-tiny: 100;
  --fw-reg: 300;
  --fw-bold: 600;

  --color-primary: #00bcd4; /* Acqua (primario) */
  --color-primary-light: #d1f0f7; /* Azzurro chiaro (sfondi, hover) */
  --color-white: #ffffff; /* Sfondo principale */
  --color-gray-light: #f5f5f5; /* Background secondario */
  --color-gray: #5f5f5f; /* Testo secondario */
  --color-gray-mid: #ddd; /* Bordi */
  --color-accent: #01579b; /* Titoli / elementi forti */
  --color-eco: #66bb6a; /* Verde menta (opzionale eco) */
  --color-black: #212121; /*Testo primario */
  --clr-error: #ef4444;
  --clr-valid: #19c419;

  --fs-h1: 2.5rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.5rem;
  --fs-small: 0.75rem;
  --fs-small-md: 0.85rem;
  --fs-body: 1rem;
  --fs-medium: 1.2rem;
  --fs-big: 2.2rem;
}

@media (min-width: 600px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-small: 0.75rem;
    --fs-body: 1.125rem;
    --fs-medium: 1.5rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-small: 0.75rem;
    --fs-body: 1.125rem;
    --fs-medium: 1.7rem;
  }
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.1;
  margin: 0;
}

img {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  /* color: var(--color-accent); */
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* UTILS */

.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
